Host suguvote-back
 User git
 Port 22
 Hostname github.com
 IdentityFile ~/.ssh/suguvote-back
 TCPKeepAlive yes
 IdentitiesOnly yes
 StrictHostKeyChecking no


Host suguvote-front
 User git
 Port 22
 Hostname github.com
 IdentityFile ~/.ssh/suguvote-front
 TCPKeepAlive yes
 IdentitiesOnly yes
 StrictHostKeyChecking no


Host suguvote-server
 User git
 Port 22
 Hostname github.com
 IdentityFile ~/.ssh/suguvote-server
 TCPKeepAlive yes
 IdentitiesOnly yes
 StrictHostKeyChecking no