[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
ExecStart=/opt/uwsgi/emperor.uwsgi.sh
# Requires systemd version 211 or newer
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target